body{
    background-color: cadetblue;
}
h1{
    color: black;
    text-align: center;
}
p{
    color: black;
}
.imagem-banner{
    text-align: center;
}
.itens {
    font-style: italic;
font-size: 30px;
}

.beneficios {
    background: crimson;
    padding: 20px;
}

h2 {
    text-align: center;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios {
    width: 30%;
}